[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/repeat.vim"]
	path = .vim/bundle/repeat.vim
	url = git://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/surround.vim"]
	path = .vim/bundle/surround.vim
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/abolish.vim"]
	path = .vim/bundle/abolish.vim
	url = git://github.com/tpope/vim-abolish.git
[submodule ".vim/bundle/commentary.vim"]
	path = .vim/bundle/commentary.vim
	url = git://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/ruby.vim"]
	path = .vim/bundle/ruby.vim
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/bufkill.vim"]
	path = .vim/bundle/bufkill.vim
	url = git://github.com/vim-scripts/bufkill.vim.git
[submodule ".vim/bundle/coffee-script.vim"]
	path = .vim/bundle/coffee-script.vim
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/Vundle.vim
