.vim/.tmp
.DS_Store
.vim/.netrwhist
xcuserdata
.netrwhist
.vim/bundle
.vim/backups
.vim/undodir
.rbenv-version
.build
Carthage.build
.ycm_extra_conf.py*
Pods

.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
Icon?
Thumbs.db
ehthumbs.db
*.swp
*.swo
*.orig
*~
\#*\#

.xctool-args
compile_commands.json
xcodebuild.log
/tags
.go-version
.ruby-version
.flowconfig
xcshareddata
.atom/packages
.atom/compile-cache
.atom/storage
.atom/.apm
.atom/blob-store
.atom/recovery
.stack-work/
.vscode/
.psc-ide-port
*.tags
codex.tags
.dir-locals.el
.ghc.environment.*
