[hub]
	protocol = https
[user]
	name = joshvera
	email = josh@joshvera.com
	signingkey = 5328DCC9
[credential]
	helper = osxkeychain
[core]
	autocrlf = input
	quotepath = false
	editor = code --wait
	excludesfile = ~/.gitignore
	fsync = committed
	preloadindex = true
	whitespace = blank-at-eol,space-before-tab,-blank-at-eof,tabwidth=4
	pager = less -x4
[alias]
	annihilate = reset --hard origin/master
	bg = branch
	br = branch
	ci = commit
	co = checkout
	ctags = !.git/hooks/ctags
	dump = cat-file -p
	fg = checkout
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	id = !echo -n `git log -n 1 --pretty=%H` | pbcopy
	last = log -1 HEAD
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	ll = log -p --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	patches = log -p --reverse
	rba = rebase --abort
	rbc = rebase --continue
	revision = !echo `git describe` | sed -n -e \"s/-/ /g\"
	st = status
	staged = diff --cached
	sup = submodule update --init --recursive
	type = cat-file -t
	uncommit = reset --soft HEAD^
	unstage = reset
	wtf = blame
[color]
	ui = auto
	whitespace = trailing-space,space-before-tab,strip
[diff]
	renames = copies
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[status]
	submodulesummary = true
[branch]
	autosetuprebase = always
[branch "master"]
	rebase = true
[push]
	default = simple
[merge]
	stat = true
	ff = false
[rebase]
	stat = true
[pack]
	windowMemory = 1g
[advice]
	pushNonFastForward = false
	statusHints = false
[github]
	user = joshvera
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = false
[init]
	templatedir = ~/github/dotfiles/git_template
[rerere]
	enabled = 1
[gc]
	auto = 0
