[user]
	name = Josh Vera
	email = josh@joshvera.com
[core]
	autocrlf = input
	quotepath = false
	editor = "mvim -v"
	excludesfile = /Users/joshuavera/.globalgitignore
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    revision = !echo `git describe` | sed -n -e \"s/-/ /g\"
    id = !echo `git log -n 1 --pretty=%H` | pbcopy
    staged = diff --cached
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[apply]
	whitespace = nowarn
[color]
	diff = auto
	status = auto
	branch = auto
[branch]
    autosetuprebase = always
[push]
	default = tracking
