"*":
  "advanced-open-file":
    createDirectories: true
    fuzzyMatch: true
  "atom-typescript":
    typescriptServices: "/usr/local/lib/node_modules/typescript/lib/typescriptServices.js"
  "autocomplete-plus": {}
  "coffee-compile": {}
  core:
    disabledPackages: [
      "nuclide-arcanist"
      "nuclide-code-format"
      "hyperclick"
      "nuclide-diagnostics-store"
      "nuclide-diagnostics-ui"
      "nuclide-diff-view"
      "nuclide-file-tree"
      "nuclide-file-watcher"
      "nuclide-hack"
      "nuclide-hg-repository"
      "nuclide-installer"
      "nuclide-language-hack"
      "nuclide-ocaml"
      "nuclide-quick-open"
      "nuclide-remote-projects"
      "jshint"
      "linter-csslint"
      "build-stack"
      "build"
      "omnisharp-atom"
      "json-schema"
      "nuclide-find-references"
      "nuclide-type-hint"
      "nuclide-flow"
      "Zen"
      "advanced-new-file"
      "atom-yeoman"
      "coffee-compile"
      "busy"
      "git-time-machine"
      "language-csharp"
      "language-elm"
      "language-fsharp"
      "language-idris"
      "language-powershell"
      "language-swift"
      "linter-coffeelint"
      "linter-eslint"
      "script"
      "vim-mode"
      "vim-surround"
      "ide-haskell-hasktags"
      "atom-typescript"
      "uber-juno"
      "julia-client"
      "git-plus"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "atom-material-syntax-light"
    ]
  editor:
    fontFamily: "Inconsolata"
    fontSize: 19
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
    softWrap: true
    tabType: "hard"
  "env-from-shell": {}
  "exception-reporting":
    userId: "656f5b87-3b6f-6794-5ba6-e0c775f49c20"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "git-plus":
    amountOfCommitsToShow: 50
  "haskell-ghc-mod":
    additionalPathDirectories: [
      "/Users/vera/.local/bin"
      "/usr/local/bin"
    ]
    initTimeout: 5
    interactiveActionTimeout: 60
    interactiveInactivityTimeout: 1
    onMouseHoverShow: "typeInfo"
    onSelectionShow: "infoType"
    showTypeOnSelection: true
    useLinter: true
  "ide-haskell":
    cabalPath: "/Users/vera/.local/bin/cabal"
    onCursorMove: "Show Tooltip"
    stylishHaskellPath: "/Users/vera/.local/bin/stylish-haskell"
  "ide-haskell-cabal":
    cabal:
      activeGhcVersion: "7.10"
      ghc702: {}
  "ide-haskell-hasktags":
    hasktagsPath: "/Users/vera/.local/bin/hasktags"
  "ide-haskell-repl":
    commandPath: "stack"
  jshint:
    supportLintingJsx: true
  linter:
    errorPanelHeight: 128
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    useGlobalEslint: true
  "merge-conflicts":
    gitPath: "/usr/local/bin/git"
  metrics:
    userId: "3f905de79bfb2cb3ee92f7ea7580a08a3b709cc4"
  nuclide:
    remoteProjectsConfig: []
  "nuclide-flow": {}
  nvatom:
    directory: "/Users/vera/Notes"
  "unity-ui": {}
  "vim-mode": {}
  "vim-mode-plus":
    clearHighlightSearchOnResetNormalMode: true
    highlightSearch: true
    incrementalSearch: true
  "vim-surround": {}
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".coffee.source":
  editor:
    tabLength: 2
    tabType: "soft"
".erb.html.source":
  editor:
    tabLength: 2
    tabType: "soft"
".cabal.source":
  editor:
    tabLength: 2
    tabType: "soft"
".haskell.source":
  editor:
    tabLength: 2
    tabType: "soft"
".js.source":
  editor:
    tabLength: 2
    tabType: "soft"
".json.source":
  editor:
    tabLength: 4
    tabType: "soft"
".puppet.source":
  editor:
    tabLength: 2
    tabType: "soft"
".purescript.source":
  editor:
    tabLength: 2
    tabType: "soft"
".ruby.source":
  editor:
    tabLength: 2
    tabType: "soft"
".source.yaml":
  editor:
    tabLength: 2
    tabType: "soft"
